:root {
  --background: #f4f4ed;
  --indigo: #254e70;
  --blue: #37718E;
  --purple: #8c6cb2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: var(--background);
  color: black;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin: 0;
  padding: 0;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.1rem;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

/* Container */
.container {
  max-width: 45%;
  margin: auto;
  overflow: hidden;
}

/* Buttons */
.btns {
  display: inline-block;
  color:black;
  background: var(--blue);
  padding: 0.54rem 0.2rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
  width: 100%;
  border-radius: 10px;
}

.btns:hover {
  opacity: .9;
}

.header{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* Search bar */
.search-container {
  width: 100%;
  float: right;
  justify-items: right;
  align-items: right;
  position: relative;
  
}

.search-container input[type="text"]{
  width: 100%;
  padding: 20px;
  padding-right: 60px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 18px;
  color: var(--purple);
  outline: none;
}

::-webkit-input-placeholder{
  color: var(--purple);
}

::-moz-placeholder{
  color: var(--purple);
}

.fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  color: white;
  font-size: 25px;
}


/* filters */
.filter {
  width: 98%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 1rem 1rem 1rem 0.5rem;
}


.add {
  float: right;
}
