:root {
  --background: #f4f4ed;
  --indigo: #254e70;
  --blue: #37718E;
  --purple: #8c6cb2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: url("background.jfif") no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: black;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin: 0;
  padding: 0;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.1rem;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

/* Container */
.container {
  max-width: 45%;
  margin: auto;
  overflow: hidden;
}

@media(max-width: 1350px){
  .container {
    max-width: 75%;
  }
}

@media(max-width: 820px){
  .container {
    max-width: 85%;
  }
}


/* TOP */
.header{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}



/* title */
.title {
  color: var(--background);
  margin-top: 3rem;
  font-size: 5rem;
}

/* Search bar */
.search-container {
  width: 100%;
  margin-top: 3.2rem;
  float: right;
  justify-items: right;
  align-items: right;
  position: relative;
  
}

.search-container input[type="text"]{
  width: 100%;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: var(--background);
  outline: none;
}

::-webkit-input-placeholder{
  color: var(--purple);
}

::-moz-placeholder{
  color: var(--purple);
}

.fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  left: 15px;
  color: white;
  font-size: 25px;
}

@media(max-width: 820px){
  .header{
    grid-template-columns: 1fr;
  }

  .search-container {
    margin-top: 0rem;
  }

  .fa-search {
    transform: translateY(-50%);
  }
}

/* filters */
.filter {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 1rem 0 1.5rem 0;
}

.filter-btn {
  display: inline-block;
  color: var(--background);
  background: var(--blue);
  padding: 0.54rem 0rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
  width: 100%;
  border-radius: 5px;
  font-weight: 600;
}

.filter-btn:hover {
  opacity: .9;
}

.filter-selected {
  color: var(--purple);
  background: var(--background);
}

@media(max-width: 820px){
  .filter {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 0 2.5rem 0;
  }
}

/* Add */
.add-container {
  width: 100%;
  position: relative;
}

.add-container input[type="text"]{
  width: 100%;
  padding: 20px;
  padding-right: 60px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 18px;
  color: var(--purple);
  outline: none;
}

.add-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  color: white;
  font-size: 25px;
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.add-button:hover {
  opacity: 0.4;
}

/* ItemList */
.list-group-item {
  font-size: 1.3rem;
  background: var(--background)
}